<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/70a6dd1b-a253-4c7b-ad11-8937778fa91d/resourceGroups/Cars20211117223700ResourceGroup/providers/Microsoft.Web/sites/Cars20211117223854</ResourceId>
    <ResourceGroup>Cars20211117223700ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/70a6dd1b-a253-4c7b-ad11-8937778fa91d/resourceGroups/Cars20211117223700ResourceGroup/providers/Microsoft.ApiManagement/service/CarsTestAPI/apis/CarsTestAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cars20211117223854.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a114fde8-9cda-42f2-8a6e-7186f90f49c8</ProjectGuid>
    <MSDeployServiceURL>cars20211117223854.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Cars20211117223854</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$Cars20211117223854</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>